.lead__image{
    max-width: 100%;
    padding-top: 64px;
}

@media screen and (max-width: 1100px) {
    .lead__image {
        padding-top: 56px;
    }
}

@media screen and (max-width: 665px) {
    .lead__image {
        padding-top: 40px;
    }
}