.intro {
    width: calc(100% - 2 * 148px);
    margin: 0 auto;
    padding-top: 92px;
}

@media screen and (max-width: 1100px) {
    .intro {
        width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 800px) {
    .intro {
        width: calc(100% - 2 * 24px);
        padding-top: 88px;
    }
}


@media screen and (max-width: 665px) {
    .intro {
        width: calc(100% - 2 * 16px);
        padding-top: 64px;
    }
}