.lead__subtitle {
    max-width: 500px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding-top: 32px;
}

@media screen and (max-width: 665px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }
}