.lead__caption{
    font-family: 'Inter-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 8px;
}

@media screen and (max-width: 665px) {
    .lead__caption {
        padding-left: 16px;
    }
}