.footer {
    width: calc(100% - 2 *48px);
    margin: 0 auto;
    padding-top: 92px;
    margin-bottom: 24px;
}

@media screen and (max-width: 800px) {
    .footer {
        width: calc(100% - 2 *24px);
        padding-top: 88px;
    }
}


@media screen and (max-width: 665px) {
    .footer {
        width: calc(100% - 2 *16px);
        padding-top: 64px;
    }
}